{% load static %}

<!DOCTYPE html>

<html lang="en">
	
	<head>
		
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

		<link rel ="stylesheet" href="{% static 'userprofile/css/userprofile.css' %}"/>
		<link rel ="stylesheet" href="{% static 'post/css/post.css' %}"/>
		
		<script src="{% static 'userprofile/js/auto-detect-tz.js' %}"></script>
		<script src="{% static 'userprofile/js/toggle-pwd.js' %}"></script>
		<script src="{% static 'userprofile/js/datepicker.js' %}"></script>
		<script src="{% static 'post/js/resize-img.js' %}"></script>
		<script src="{% static 'post/js/call-carousel.js' %}"></script>
		<script src="{% static 'post/js/save-reaction.js' %}"></script>
		<script src="{% static 'post/js/hide-show.js' %}"></script>

		<link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}"/>
		
		<title>sharELand</title>
		
	</head>
	
	<body>
		
		<header class="container-fluid">
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<h1 class="header"><a href="{% url 'home' %}">sharELand</a></h1>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-center">
					{% if user.is_authenticated %}
					<h2 id="welcome">Welcome {{ user.get_short_name }}</h2>
					{% endif %}
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 d-flex align-items-center justify-content-center">
					{% if user.is_authenticated %}
					<a href="{% url 'logout' %}?next=/"><span title="Sign Out" class="fa fa-sign-out"></span></a>
					{% else %}
					<a href="{% url 'login' %}"><span title="Sign In" class="fa fa-sign-in"></span></a>
					{% endif %}
				</div>
			</div>
		</header>
		
		{% block content %}
		{% endblock %}
		
	</body>
	
</html>