{% extends "userprofile/base.html" %}
{% load static %}

{% block content %}
<div class="container">
	<div class="row root-container">
		<div class="for-background"></div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 greet-div">
			<h1 class="great-header">sharELand</h1>
			<div id="talk">
				Hello there,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Here is a new social media app for you. You can follow
				your dears, share rhythms and colors of your mind, react to a post as heart says and give your
				precious comments and replies.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Give it a try and you will never regret.
				Have fun!!!
			</div>
		</div>
	</div>
</div>

<div class="container-fluid signup-container">
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 d-flex align-items-center justify-content-center signup">
			<p>No account yet?<br>Create your account now</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d-flex align-items-center justify-content-center signup">
			<a href="{% url 'signup' %}"><button type="Button" class="btn btn-outline-dark btn-lg">Sign Up</button></a>
		</div>
	</div>
</div>

<div class="container-fluid" id="feature-talks">
	<div class="row feature-row1">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d-flex align-items-center justify-content-center signup">
			<img id="feature-image1" src="{% static 'userprofile/svg/write-share.svg' %}"/>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 d-flex align-items-center justify-content-center signup">
			<p class="feature-talk feature-talk1">Share your thoughts!!!</p>
		</div>
	</div>
	<div class="row feature-row2">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 d-flex align-items-center justify-content-center signup">
			<p class="feature-talk feature-talk2">Share the colors of your heart!!!</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d-flex align-items-center justify-content-center signup">
			<img id="feature-image1" src="{% static 'userprofile/svg/image-share.svg' %}"/>
		</div>
	</div>
	<div class="row feature-row3">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 d-flex align-items-center justify-content-center signup">
			<img class="emoji-ex" src="{% static 'post/svg/sparkling-heart.svg' %}"/>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 d-flex align-items-center justify-content-center signup">
			<img class="emoji-ex" src="{% static 'post/svg/face-with-open-mouth.svg' %}"/>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d-flex align-items-center justify-content-center signup">
			<p class="feature-talk feature-talk3">Reflect feelings through reactions!!!</p>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 d-flex align-items-center justify-content-center signup">
			<img class="emoji-ex" src="{% static 'post/svg/rolling-on-floor-laughing.svg' %}"/>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 d-flex align-items-center justify-content-center signup">
			<img class="emoji-ex" src="{% static 'post/svg/expressionless-face.svg' %}"/>
		</div>
	</div>
</div>

<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-center">
				<h1>sharELand</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-center">
				<a href="{% url 'signup' %}"><button type="Button" class="btn btn-light btn-lg">Sign Up</button></a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-center">
				<a href="{% url 'login' %}"><button type="Button" class="btn btn-light btn-lg">Sign In</button></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-center">
				<h3>Thank You</h3>
			</div>
		</div>
	</div>
</footer>
{% endblock %}