{% extends "post/signed_in_base.html" %}
{% load post_tags %}
{% load post_filters %}

{% block profile-icon-id %}
id="icon-for-active-page"
{% endblock %}

{% block body-content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-center">
        <h1 id="profile-owner">{{ request.user.get_full_name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-center">
        <div class="avatar all-image">
            <img src="{{ request.user.userprofile.avatar.url }}" alt="Avatar not available">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 follow-container">
        <p class="follow-count">Following: {{ following_count|modify }}</p>
        <div class="row">
            {% slice_list 0 4 followings as followings1 %}
            {% for following in followings1 %}
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 related-avatar-super">
                <div class="related-avatar all-image">
                    <img src="{{ following.avatar.url }}" alt="No image">
                </div>
                <p>{{ following.owner.get_full_name|truncatechars:15 }}</p>
            </div>
            {% endfor %}
            {% slice_list 4 8 followings as followings2 %}
            {% for following in followings2 %}
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 related-avatar-super">
                <div class="related-avatar all-image">
                    <img src="{{ following.avatar.url }}" alt="No image">
                </div>
                <p>{{ following.owner.get_full_name|truncatechars:15 }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 follow-container">
        <p class="follow-count">Follower: {{ follower_count|modify }}</p>
        <div class="row">
            {% slice_list 0 4 followers as followers1 %}
            {% for follower in followers1 %}
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 related-avatar-super">
                <div class="related-avatar all-image">
                    <img src="{{ follower.avatar.url }}" alt="No image">
                </div>
                <p>{{ follower.owner.get_full_name|truncatechars:15 }}</p>
            </div>
            {% endfor %}
            {% slice_list 4 8 followers as followers2 %}
            {% for follower in followers2 %}
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 related-avatar-super">
                <div class="related-avatar all-image">
                    <img src="{{ follower.avatar.url }}" alt="No image">
                </div>
                <p>{{ follower.owner.get_full_name|truncatechars:15 }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-1 offset-sm 1 offset-md-1 offset-lg-1" id="profile-post-declare">
        <h2 class="my-5">Your posts:</h2>
    </div>
</div>
{% for post in posts %}
<div class="row mb-5">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-1 offset-sm 1 offset-md-1 offset-lg-1 post-brief-col py-3">
        <a href="{% url 'postdetails' pk=post.pk %}">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>{{ post.heading }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Created at: {{ post.creation_date }}</p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>{{ post.post_text|linebreaksbr|truncatewords:30 }}</p>
                </div>
            </div>
            {% if post.postimages.count > 0 %}
            <div class="row mb-4">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
                    <div class=row>
                        {% slice_list 0 3 post.postimages.all as post_brief_images %}
                        {% for image in post_brief_images %}
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 px-2">
                            <div class="all-image post-brief-image">
                                <img src="{{ image.image.url }}">
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 px-2 d-flex align-items-center justify-content-center">
                            {% if post.postimages.count > 3 %}
                            <p class="extra-image-no">and {{ post.postimages.count|add:"-3" }} other{{ post.postimages.count|add:"-3"|pluralize:"s" }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row my-3">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 reaction-comment mx-3">
                    <p class="post-brief-reaction-no">{{ post.postreactions.count|modify }} reaction{{ post.reactions.count|pluralize:"s" }}</p>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 reaction-comment mx-3">
                    <p class="post-brief-comment-no">{{ post.comments.count|modify }} comment{{ post.reactions.count|pluralize:"s" }}</p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}