#icon-navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

.option-pages {
    font-size: 2vw;
    color: black;
    background-color: rgba(176, 247, 185, 0.8);
    border-radius: 50px;
    padding: 0.3vw;;
}

#icon-for-active-page {
    background-color: rgb(35, 182, 16);
    border-radius: 50px;
}

.option-pages a, .option-pages a:active, .option-pages a:hover, .option-pages a:visited, .option-pages a:focus, .option-pages a:link  {
    text-decoration: none;
    color: black;
    margin: 5px;
}

.signed-in-body {
    margin-top: 4vw;
    margin-bottom: 3vw;
    width: 90vw;
    background-color: rgba(222, 247, 245, 0.9);
    border-radius: 50px;
    border: 2px ridge #0d3a02;
    padding: 2vw 1vw 0vw 1vw;
}

#profile-owner {
    font-size: 5vw;
    margin-bottom: 2vw;
    font-family: "Lobster";
}

.follow-count {
    font-family: "Gloria Hallelujah";
    font-size: 1vw;
    font-weight: bold;
}

.feed-avatar {
    width: 40px;
}

.all-image {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.all-image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.all-image img {
    position: absolute;
}

.avatar {
    width: 12vw;
}

.related-avatar, .post-brief-image {
    width: 100%;
}

.related-avatar-super {
    margin-bottom: 2%;
    margin-bottom: 2%;
}

.related-avatar-super p {
    margin: 0;
    margin-top: 4%;
    padding: 0;
    overflow-wrap: break-word;
    font-family: "Lobster";
    font-weight: bold;
    margin-left: 10%;
    font-size: 1vw;
}

.follow-container {
    margin-left: 5.555%;
    margin-top: 2vw;
    padding: 1vw;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(221, 248, 246);
    box-shadow: 5px 5px rgb(117, 113, 113);
}

#profile-post-declare h2 {
    font-family: "Gloria Hallelujah";
    font-size: 2vw;
    font-weight: bold;
}

.post-brief-col a {
    text-decoration: none;
    color: black;
}

.post-brief-col {
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(221, 248, 246);
}

.post-brief-col:hover {
    box-shadow: 5px 5px rgb(117, 113, 113);
}

.post-brief h4 {
    font-family: "Lobster";
}

.reaction-comment {
    border: 2px solid black;
    border-radius: 20px;
}

.reaction-comment p {
    margin-top: 1%;
    margin-bottom: 1%;
}

.extra-image-no {
    font-family: "Gloria Hallelujah";
    font-weight: bold;
    font-size: 1.8vw;
}

.carousel-inner {
    height: 30vw;
    border: 2px solid black;
    background-color: rgb(221, 248, 246);
    border-radius: 20px;
}

.carousel-inner-most {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.carousel-inner-most img {
    max-height: 94%;
    max-width: 94%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fa-arrow-circle-left, .fa-arrow-circle-right {
    font-size: 48px;
    color: black;
}

#detail-comment p {
    font-family: "Gloria Hallelujah";
    font-size: 2vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#detail-comment {
    border: 2px solid black;
    background-color: rgb(199, 241, 201);
    border-radius: 20px;
    height: 4vw;
}

.non-selectable-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#detail-react {
    height: 4vw;
}

#detail-react-image {
    height: 100%;
    width: auto;
    max-width: 80vw;
    border: 2px solid black;
    background-color: rgb(199, 241, 201);
    border-radius: 20px;
}

.detail-dropdown-content-hide {
    display: none;
    background-color: white;
    z-index: 5;
    bottom: 4vw;
    border: 2px solid black;
    border-radius: 50px;
}

.detail-dropdown-content-show {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reaction-images {
    height: 100%;
    width: auto;
}

.reaction-emoji {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
}

.reaction-emoji * {
    pointer-events: none;
}

.all-cover {
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
}

#comment-form input[type=button] {
    font-family: "FontAwesome";
}

#comment-form label, #comment-form input[type=file] {
    font-family: "Gloria Hallelujah";
    font-weight: bold;
}

#comment-form input[type=file]:focus {
    outline: none;
}

.comment-form {
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comment-form .px-4 {
    background-color: rgb(199, 250, 246);
    border-radius: 20px;
}

.hide-comment-form {
    display: none;
}

input[type=submit] {
    font-family: "Fontawesome";
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.file-input + label {
    color: white;
    background-color: rgb(124, 10, 10);
    display: inline-block;
    cursor: pointer;
}

.file-input:focus + label, .file-input + label:hover {
    background-color: rgb(236, 14, 14);
}

.file-input:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

#load-more .d-flex div {
    font-family: "Gloria Hallelujah";
    font-size: 1.5vw;
    cursor: pointer;
}

#load-more .d-flex div:hover {
    text-decoration: underline;
}